.u-text-transform{

	&-none{

		text-transform: none !important;

		&\@only-sm{
			@include only-sm{
				text-transform: none !important;
			}
		}

		&\@only-md{
			@include only-md{
				text-transform: none !important;
			}
		}

		&\@only-lg{
			@include only-lg{
				text-transform: none !important;
			}
		}


	}
}