.button-cookies{
    font-size: 16px;
    line-height: 16px;
    outline: none;
    margin-right: 15px;
    padding: 10px 25px;
    border-radius: 30px;
    cursor: pointer;
    @include xxl{
        padding: 15px 35px;
    }
}
.button-cookies.wh{
    color: $color-black;
    border-color: $color-white;
    background: $color-white;
}
.button-cookies.bb{
    color: $color-white;
    background: $color-black;
    border: $color-black;
}
.button-sw{
    font-size: 16px;
    line-height: 16px;
    color: $color-black;
    border: solid 1px $color-black;
    outline: none;
    padding: 8px 25px;
    border-radius: 30px !important;
    opacity: 1;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    transition: ease all .4s cubic-bezier(0.175, 0.85, 0.42, 0.96);
    @include lg{
        padding: 18px 45px;
        height: auto;
    }
}
.button-sw.swiper-pagination-bullet-active{
    background: $color-black !important;
    color: $color-white;
    border: solid 1px $color-white;
    transition: ease all .4s cubic-bezier(0.175, 0.85, 0.42, 0.96);
}
.button-black{
    background: transparent;
    border: none;
    outline: none;
    display: inline-flex;
    a{
        @include a-set($font-text-button);
        background: $color-black;
        color: $color-white;
        margin: 40px;
        padding: 18px 45px;
        border-radius: 30px;
        border: solid 1px $color-white;
        transition: all .5s cubic-bezier(0.175, 0.85, 0.42, 0.96);
    }
    a:hover{
        background: $color-white;
        color: $color-black;
        transition: all .5s cubic-bezier(0.175, 0.85, 0.42, 0.96);
        transform: translateY(-10px);
    }
}
.button-black:focus{
    outline: none;
}
.button-blue{
    background-color: transparent;
    border: solid 0px;
    outline: none;
    display: inline-flex;
    a{
        @include a-set($font-text-button);
        background: $color-blue;
        color: $color-white;
        margin: 40px;
        padding: 18px 45px;
        border-radius: 30px;
        transition: all .5s cubic-bezier(0.175, 0.85, 0.42, 0.96);
    }
    a:hover{
        background: $color-white;
        color: $color-black;
        transition: all .5s cubic-bezier(0.175, 0.85, 0.42, 0.96);
        transform: translateY(-10px);        
    }

}
.button-black:focus{
    outline: none;
}
.button-simple.black{
    color: $color-white;
    & .btn-circle{
        & .arrow{
            margin: auto;
            background-image: url('../../public/images/arrow-right-w.svg');
        }
    }
    &:hover{
         & .btn-circle{
            border: solid 1px $color-white;
         }   
    }
}
.button-simple{
    @include a-set($font-text-button);
    display: inline-block;
    background: transparent;
    color: $color-black;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 40px;
    border: none;
    outline: none;
    position: relative;
    a{
        padding: 15px 0;
    }
    & .wrapper-btn-proyectos{
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        transition: ease all .2s;
        margin-right: 10px;
        padding: 30px 0;
    }
    & .btn-circle{
        display: inline-flex;
        align-items: center;
        vertical-align: middle;
        border: solid 1px transparent;
        border-radius: 30px;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 19px;
        transition: ease-out all .2s;
        & .arrow{
            margin: auto;
            background-image: url('../../public/images/arrow-right.svg');
            background-size: cover;
            height: 20px;
            width: 20px;
            display: block;
            position: absolute;
            left: 0px;
            transition: ease-out all .2s;
        }
        }
    &:hover{
    & .wrapper-btn-proyectos{
        margin-right: 20px;
    }
     & .btn-circle{
        border: solid 1px $color-black;
        transition: ease-in all .2s;
        transform: scale(1.5);
        & .arrow{
            left:8px;
            transition: ease-in all .2s;
        }
     }   
    }
}



